<div>
	<label>date:</label>
	<input name="date1" ng-model="certSub.date1" type="date">
	<label>notes:</label>
	<input name="notes1" ng-model="certSub.notes1" rows="10" cols="30"></input>

	<br />

	<label>date:</label>
	<input name="date2" ng-model="certSub.date2" type="date">
	<label>notes:</label>
	<input name="notes2" ng-model="certSub.notes2" rows="10" cols="30"></input>

	<br />

	<label>date:</label>
	<input name="date3" ng-model="certSub.date3" type="date">
	<label>notes:</label>
	<input name="notes3" ng-model="certSub.notes3" rows="10" cols="30"></input>

	<br />

	<label>date:</label>
	<input name="date4" ng-model="certSub.date4" type="date">
	<label>notes:</label>
	<input name="notes4" ng-model="certSub.notes4" rows="10" cols="30"></input>

	<br />

	<label>date:</label>
	<input name="date5" ng-model="certSub.date5" type="date">
	<label>notes:</label>
	<input name="notes5" ng-model="certSub.notes5" rows="10" cols="30"></input>
	<br />
	<button ng-click="saveMultipleCerts(user, certSub)">submit multiple certs</button>
</div>